.container > h1 {
  font-size: 42px;
  line-height: 37px;
  margin-bottom: 0.5em;
}

.categories-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: auto;
  margin-bottom: 3em;
  gap: 10px;
}

.categories-container > button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  font-family: "Segoe UI";
  font-size: 18px;
  font-weight: 500;
  color: #485492;
  text-transform: capitalize;
  text-align: left;
  padding-left: 0.75em;
  height: 70px;
  border-radius: 15px;
  background-color: transparent;
  border: 0.794239px solid #4d5b9e3d;
  margin: 3px auto;
  cursor: pointer;
  transition: ease-out 0.2s;
}

.categories-container > button:hover {
  padding-right: 0.75em;
  background-color: #d6dbf5;
  font-size: 20px;
  font-weight: 600;
}

.categories-container > button > svg {
  height: 1.5em;
  width: 1.5em;
}

.category-header {
  margin-block: 0.75em;
  font-size: 24px;
  font-weight: 200;
  letter-spacing: 0.025em;
}

.amount-btn {
  justify-content: center !important;
  padding: 0 !important;
  width: 100px !important;
  height: 100px !important;
  font-size: 32px !important;
  font-weight: 400 !important;
}

.go-back-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 110px;
  border: none;
  background-color: transparent;
  font-size: 18px;
  color: #485492;
  cursor: pointer;
  transition: ease-out 0.2s;
}

.go-back-btn:hover {
  font-weight: 500;
  padding-right: 0.5em;
}

.difficulty-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  gap: 15px;
}

.difficulty-container > button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 90px;
  font-family: "Segoe UI";
  font-size: 24px;
  font-weight: 400;
  color: #485492;
  text-transform: capitalize;
  border-radius: 15px;
  background-color: transparent;
  border: 0.794239px solid #4d5b9e3d;
  margin: 3px auto;
  cursor: pointer;
  transition: ease-out 0.2s;
}

.difficulty-container > button:hover {
  background-color: #d6dbf5;
  font-size: 26px;
  font-weight: 500;
}

.start-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.start-page > p {
  font-size: 16px;
  margin-top: 1em;
}

.start-btn {
  margin: 0 auto;
  width: 193px;
  height: 52px;
  background-color: #4d5b9e;
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 15px;
  margin-block: 2em;
  cursor: pointer;
}

.start-btn:hover {
  background-color: #4d5b9ec9;
}

.center {
  margin: auto !important;
}

.question-container {
  width: 80%;
  margin-block: 4em;
}

.question-settings {
  display: flex;
  align-items: center;
  font-size: 16px;
  text-transform: capitalize;
  margin-bottom: 1em;
  text-align: left;
}

.question-settings > span {
  margin-right: 10px;
  color: #293264;
}

.edit-btn {
  display: flex;
  align-items: center;
  color: green;
  font-size: 14px;
  cursor: pointer;
}

.edit-btn > svg {
  margin-right: 4px;
}

.question-line {
  height: auto;
  text-align: left;
  justify-self: flex-start;
}

.question-title {
  font-size: 20px;
  color: #293264;
  line-height: 23px;
  margin-bottom: 0.25em;
}

.answer-button {
  font-family: "Segoe UI";
  font-size: 14px;
  width: auto;
  min-width: 80px;
  height: 30px;
  border-radius: 8px;
  background-color: transparent;
  border: 0.794239px solid #4d5b9e;
  margin-block: 5px;
  margin-right: 8px;
  padding: 0 10px;
  cursor: pointer;
}

.answer-button:hover {
  background-color: rgba(129, 129, 129, 0.089);
  border: 0.794239px solid #4d5b9e70;
}

.held {
  background-color: #d6dbf5;
}

.end {
  color: #293264a8;
  border: 0.794239px solid #2932646e;
}

.correct {
  color: black;
  font-weight: 500;
  background-color: #94d7a2;
  border: none;
}

.wrong {
  background-color: #f8bcbc;
  color: #293264a8;
  border: none;
}

.h-line {
  width: 90%;
  border: 0.794239px solid #dbdef0;
  margin-block: 0.75em;
}

.check-answers {
  width: 150px;
  height: 45px;
  background-color: #4d5b9e;
  color: white;
  font-size: 14px;
  font-family: "Segoe UI";
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.answer-container {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 1em;
}

.answer-container > p {
  margin: auto;
  font-weight: bold;
}
