.start-page {
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.start-page > h1 {
  font-size: 38px;
  line-height: 37px;
}

.start-page > p {
  font-size: 16px;
  margin-top: 1em;
}

.start-page > button {
  margin: 0 auto;
  width: 193px;
  height: 52px;
  background-color: #4d5b9e;
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 15px;
  margin-top: 1.5em;
  cursor: pointer;
}

.start-page > button:hover {
  background-color: #4d5b9ec9;
}

.question-container {
  width: 80%;
  margin-block: 4em;
}

.question-line {
  height: auto;
  text-align: left;
  justify-self: flex-start;
}

.question-title {
  font-size: 16px;
  color: #293264;
  line-height: 19px;
}

.answer-button {
  font-family: "Segoe UI";
  font-size: 10px;
  width: auto;
  min-width: 70px;
  height: 25px;
  border-radius: 8px;
  background-color: transparent;
  border: 0.794239px solid #4d5b9e;
  margin-block: 10px;
  margin-right: 8px;
  padding: 0 8px;
  cursor: pointer;
}

.held {
  background-color: #d6dbf5;
}

.end {
  color: #293264a8;
  border: 0.794239px solid #2932646e;
}

.correct {
  color: black;
  font-weight: 500;
  background-color: #94d7a2;
  border: none;
}

.wrong {
  background-color: #f8bcbc;
  color: #293264a8;
  border: none;
}

.h-line {
  width: 90%;
  border: 0.794239px solid #dbdef0;
}

.check-answers {
  width: 120px;
  height: 35px;
  background-color: #4d5b9e;
  color: white;
  font-size: 10px;
  font-family: "Segoe UI";
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.answer-container {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 1em;
}

.answer-container > p {
  margin: auto;
  font-weight: bold;
}
